<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <title>商品详情</title>

    <link href="css/gwd_yungui_all.css" rel="stylesheet" charset="utf-8">

  </head>
  <body>
    <!-- === Gwd_top === -->
    <div id="gwd_top" class="gwd_p_big">
      <span id="goback">&lt;</span>
      <span id="gtmiddle">商品详情</span>
      <span id="formore">&middot;&middot;&middot;</span>
    </div><!-- gwd_top -->
    <div id="gwd_top_shadow"></div>
    <div id="threesss">
      <div></div>
      <ul>
        <li><a href="javascript:void(0);"><img src="image/home.png" alt="首页"><span class="gwd_p_big">首页</span></a></li>
        <li><a href="javascript:void(0);" id="showshare"><img src="image/share.png" alt="分享"><span class="gwd_p_big">分享</span></a></li>
        <li><a href="javascript:void(0);"><img src="image/suggestion.png" alt="反馈"><span class="gwd_p_big">反馈</span></a></li>
      </ul>
    </div><!-- threesss -->
    <div class="mask"></div>
    <!-- === End Gwd_top === -->

    <!-- === Gwd_topimg === -->
    <div id="gwd_topimg">
      <img src="image/loading.jpg" alt="商品图" class="gwd-img-block-center">
    </div><!-- gwd_topimg -->
    <!-- === End Gwd_topimg === -->

    <!-- === Gwd_content === -->
    <div id="gwd_content">
      <div class="container">
        <div class="fultitle gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
        <div class="fulprice gwd_p_big">69原本 历史新低</div>
        <div class="need">
          <div class="indetail gwd_p">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么<a href="javascript:void(0);" class="mj">999元</a> 快到碗里来PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
          <div class="quan">
            <div class="gwd_p_big">需用券</div>
            <div class="inquan gwd_p_big">
              <a href="javascript:void(0);">
                <span>200元店铺优惠券</span>
                <span>去领取</span>
              </a>
            </div><!-- inquan -->
          </div><!-- quan -->
          <div class="ma">
            <div class="gwd_p_big">需用码</div>
            <div class="inma gwd_p_big">
              <span>12346788968329</span>
              <span>复制领取</span>
            </div>
          </div><!-- ma -->
        </div><!-- need -->
        <div class="related">
          <div class="relatedtag">
            <div class="gwd_p_big">相关标签</div>
            <div class="gwd_p">
              <a href="javascript:void(0);"><span>商城：<span>京东商城</span></span></a>
              <a href="javascript:void(0);"><span>品牌：<span>奥特曼</span></span></a>
              <a href="javascript:void(0);"><span>分类：<span>电脑数码</span></span></a>
              <a href="javascript:void(0);"><span>标签：<span>单反相机</span></span></a>
            </div>
          </div>
          <div class="relateddetail">
            <a href="javascript:void(0);"><div class="gwd_p_big rfdiv">看过此商品的人还看过<span class="toright">&gt;</span></div></a>
            <div>
              <a href="javascript:void(0);">
                <div class="row">
                  <div class="col-gwd-2-39">
                    <span></span>
                    <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
                  </div><!-- col-gwd-2-39 -->
                  <div class="col-gwd-2-61">
                    <div class="smalltitle gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
                    <div class="smallprice gwd_p_big red">打折大促销，八折起，八折起</div>
                    <div class="smallmallname gwd_p_big">京东商城</div>
                  </div><!-- col-gwd-2-61 -->
                </div><!-- row -->
              </a>
              <a href="javascript:void(0);">
                <div class="row">
                  <div class="col-gwd-2-39">
                    <span></span>
                    <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
                  </div><!-- col-gwd-2-39 -->
                  <div class="col-gwd-2-61">
                    <div class="smalltitle gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
                    <div class="smallprice gwd_p_big red">打折大促销，八折起，八折起</div>
                    <div class="smallmallname gwd_p_big">京东商城</div>
                  </div><!-- col-gwd-2-61 -->
                </div><!-- row -->
              </a>
              <a href="javascript:void(0);">
                <div class="row">
                  <div class="col-gwd-2-39">
                    <span></span>
                    <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
                  </div><!-- col-gwd-2-39 -->
                  <div class="col-gwd-2-61">
                    <div class="smalltitle gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
                    <div class="smallprice gwd_p_big red">打折大促销，八折起，八折起</div>
                    <div class="smallmallname gwd_p_big">京东商城</div>
                  </div><!-- col-gwd-2-61 -->
                </div><!-- row -->
              </a>
            </div><!-- div -->
          </div>
        </div><!-- related -->
      </div><!-- container -->
    </div><!-- gwd_content -->
    <!-- === End Gwd_content === -->

    <!-- === Gwd_copyhint === -->
    <div id="gwd_copyhint" class="gwd_p_big">优惠码已复制至剪切板，您在付款时黏贴至相应框中即可使用。</div><!-- gwd_copyhint -->
    <!-- === End Gwd_copyhint === -->

    <!-- === Gwd_share === -->
    <div id="gwd_share">
      <div class="s_top gwd_p_big">分享到</div>
      <div class="row">
        <div class="col-gwd-4-25" id="weibo">
          <img src="image/weibo.png" alt="分享" class="gwd-img-block-center shareimg">
          <p class="gwd_p">新浪微博</p>
        </div><!-- col-gwd-4-25 -->
        <div class="col-gwd-4-25" id="wechat">
          <img src="image/wechat.png" alt="分享" class="gwd-img-block-center shareimg">
          <p class="gwd_p">微信好友</p>
        </div><!-- col-gwd-4-25 -->
        <div class="col-gwd-4-25" id="wechatgroup">
          <img src="image/wechatgroup.png" alt="分享" class="gwd-img-block-center shareimg">
          <p class="gwd_p">朋友圈</p>
        </div><!-- col-gwd-4-25 -->
        <div class="col-gwd-4-25" id="qq">
          <img src="image/qq.png" alt="分享" class="gwd-img-block-center shareimg">
          <p class="gwd_p">QQ好友</p>
        </div><!-- col-gwd-4-25 -->
      </div><!-- row -->
      <div class="s_bottom gwd_p">点击阴影取消分享</div>
    </div><!-- gwd_share -->
    <!-- === End Gwd_share === -->

    <!-- === Gwd_buy === -->
    <a href="javascript:void(0);" id="gwd_buy" class="gwd_p_big">去购买</a>
    <div id="gwd_buy_shadow"></div>
    <!-- === End Gwd_buy === -->

    <!-- === Gwd_gotop === -->
    <div class="gwd_gotop">
      <img src="image/gotop.png" alt="回顶部图标" class="gwd-img-block-center">
    </div><!-- gwd_gotop -->
    <!-- === End Gwd_gotop === -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/detail.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/goTop.js" charset="utf-8"></script>
  </body>
</html>