<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <title>购物党|N多值得买</title>

    <link href="css/gwd_yungui_all.css" rel="stylesheet">

  </head>
  <body>
    <!-- === Gwd_classify === -->
    <div id="gwd_classify">
      <ul>
        <li><a href="javascript:void(0);" id="gcfl"><div><p class="gwd_p_big">分类</p><div class="heisanjiao"></div></div></a></li>
        <li><a href="javascript:void(0);" id="gcsc"><div><p class="gwd_p_big">商城</p><div class="heisanjiao"></div></div></a></li>
        <li><a href="javascript:void(0);" id="gcjg"><div><p class="gwd_p_big">价格排序</p><div class="heisanjiao"></div></div></a></li>
      </ul>
    </div><!-- gwd_classify -->
    <div id="gwd_classify_shadow"></div>
    <!-- === Gwd_classify === -->

    <!-- === Gwd_index === -->
    <div id="gwd_index">
      <div class="container">
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-39 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
              <div class="price gwd_p_big red">打折大促销，八折起，八折起</div>
              <img src="" class="mall-icon" alt="logo">
              <div class="mall-name gwd_p">京东商城</div>
              <div class="mall-time gwd_p">12月23日</div>
            </div><!-- col-gwd-2-61 -->
          </div><!-- row -->
        </a>
        <hr>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-39 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
              <div class="price gwd_p_big red">打折大促销，八折起，八折起</div>
              <img src="" class="mall-icon" alt="logo">
              <div class="mall-name gwd_p">京东商城</div>
              <div class="mall-time gwd_p">12月23日</div>
            </div><!-- col-gwd-2-61 -->
          </div><!-- row -->
        </a>
        <hr>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-39 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
              <div class="price gwd_p_big red">打折大促销，八折起，八折起</div>
              <img src="" class="mall-icon" alt="logo">
              <div class="mall-name gwd_p">京东商城</div>
              <div class="mall-time gwd_p">12月23日</div>
            </div><!-- col-gwd-2-61 -->
          </div><!-- row -->
        </a>
        <hr>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-39 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
              <div class="price gwd_p_big red">打折大促销，八折起，八折起</div>
              <img src="" class="mall-icon" alt="logo">
              <div class="mall-name gwd_p">京东商城</div>
              <div class="mall-time gwd_p">12月23日</div>
            </div><!-- col-gwd-2-61 -->
          </div><!-- row -->
        </a>
        <hr>
      </div><!-- container -->
    </div><!-- gwd_index -->
    <!-- === End Gwd_index === -->

    <!-- === Gwd_gotop === -->
    <div class="gwd_gotop">
      <img src="image/gotop.png" alt="回顶部图标" class="gwd-img-block-center">
    </div><!-- gwd_gotop -->
    <!-- === End Gwd_gotop === -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/goTop.js"></script>
  </body>
</html>