<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <title>购物党N多值得买</title>

    <link href="css/gwd_yungui_all.css" rel="stylesheet" charset="utf-8">

  </head>
  <body>
    <!-- === Gwd_classify === -->
    <div id="gwd_classify">
      <ul>
        <li><a href="javascript:void(0);" id="gcfl"><div><p class="gwd_p_big">分类</p><div class="heisanjiao"></div></div></a></li>
        <li><a href="javascript:void(0);" id="gcsc"><div><p class="gwd_p_big">商城</p><div class="heisanjiao"></div></div></a></li>
        <li><a href="javascript:void(0);" id="gcjg"><div><p class="gwd_p_big" id="wthp">价格排序<span>&nbsp;&nbsp;&nbsp;</span><img src="image/upblack.png" alt="趋势" id="wthimg"></p><div class="heisanjiao"></div></div></a></li>
      </ul>
      <div id="gcfldiv">
        <div class="row">
          <div class="col-gwd-2-50">
            <ul class="leftul">
              <li>
                <a href="javascript:void(0);" class="active">
                  <span class="name gwd_p red">全部分类</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">服饰鞋包</span><span class="number gwd_p"><span>2></span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">食品保健</span><span class="number gwd_p"><span>32></span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">美妆个护</span><span class="number gwd_p"><span>1231></span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">数码家电</span><span class="number gwd_p"><span>2518></span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">家居日用</span><span class="number gwd_p"><span>25128></span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">礼品钟表</span><span class="number gwd_p"><span>25128></span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">母婴玩具</span><span class="number gwd_p"><span>25128></span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">运动户外</span><span class="number gwd_p"><span>25128></span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">其它</span><span class="number gwd_p"><span>25128></span></span>
                </a>
              </li>
            </ul>
          </div><!-- col-gwd-2-50 -->
          <div class="col-gwd-2-50">
            <ul class="rightul active">
              <li>
                <a href="javascript:void(0);" class="active">
                  <span class="name gwd_p red">全部</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">休闲食品类</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">休闲食品</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">休闲食品</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">奶类制品</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">奶类制品</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">奶类制品</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);">
                  <span class="name gwd_p">其它</span><span class="number gwd_p"><span>25128</span></span>
                </a>
              </li>
            </ul>
          </div><!-- col-gwd-2-50 -->
        </div><!-- row -->
      </div><!-- gcfldiv -->
      <div id="gcscdiv">
        <div class="row">
            <ul>
              <li><a href="javascript:void(0);" class="gwd_p active red">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">一号店<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p active red">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">一号店<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">当当<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">当当<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p">苏宁易购<span>(1291)</span></a></li>
            </ul>
        </div><!-- row -->
      </div><!-- gcscdiv -->
      <div id="gcjgdiv">
        <div class="row">
          <div class="col-gwd-2-50">
            <ul class="leftul">
              <li><a href="javascript:void(0);" class="active"><span class="timeleft gwd_p red">默认排序</span><span class="timeright gwd_p"></span></a></li>
              <li><a href="javascript:void(0);"><span class="timeleft gwd_p">价格由低到高</span><span class="timeright gwd_p">></span></a></li>
              <li><a href="javascript:void(0);"><span class="timeleft gwd_p">价格由高到低</span><span class="timeright gwd_p">></span></a></li>
            </ul>
          </div><!-- col-gwd-2-50 -->
          <div class="col-gwd-2-50">
            <ul class="rightul active">
              <li><a href="javascript:void(0);" class="gwd_p"><span class="timedetail">只看2小时内商品</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p"><span class="timedetail">只看24小时内商品</span></a></li>
              <li><a href="javascript:void(0);" class="gwd_p"><span class="timedetail">查看全部商品</span></a></li>
              <li class="gwd_p"><span class="timedetail"><span class="red">*</span>为保证商品数据的有效性，建议您选择时间节点查看</span></li>
            </ul>
          </div><!-- col-gwd-2-50 -->
        </div><!-- row -->
      </div><!-- gcjgdiv -->
    </div><!-- gwd_classify -->
    <div id="gwd_classify_shadow"></div>
    <div class="mask"></div>
    <!-- === Gwd_classify === -->

    <!-- === Gwd_index === -->
    <div id="nodata">
      <div><img src="image/nodata.png" class="gwd-img-block-center"></div>
      <p class="gwd_p_big">没有筛选结果</p>
      <p class="gwd_p">建议尝试其它筛选</p>
    </div><!-- nodata -->

    <div id="gwd_index">
      <div class="container">
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-39 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
              <div class="price gwd_p_big red">打折大促销，八折起，八折起</div>
              <img src="" class="mall-icon" alt="logo">
              <div class="mall-name gwd_p">京东商城</div>
              <div class="mall-time gwd_p">12月23日</div>
            </div><!-- col-gwd-2-61 -->
          </div><!-- row -->
        </a>
        <hr>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-39 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
              <div class="price gwd_p_big red">打折大促销，八折起，八折起</div>
              <img src="" class="mall-icon" alt="logo">
              <div class="mall-name gwd_p">京东商城</div>
              <div class="mall-time gwd_p">12月23日</div>
            </div><!-- col-gwd-2-61 -->
          </div><!-- row -->
        </a>
        <hr>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-39 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
              <div class="price gwd_p_big red">打折大促销，八折起，八折起</div>
              <img src="" class="mall-icon" alt="logo">
              <div class="mall-name gwd_p">京东商城</div>
              <div class="mall-time gwd_p">12月23日</div>
            </div><!-- col-gwd-2-61 -->
          </div><!-- row -->
        </a>
        <hr>
        <a href="javascript:void(0);">
          <div class="row">
            <div class="col-gwd-2-39">
              <span></span>
              <img src="image/loading.jpg" alt="促销活动" class="gwd-img-block-center">
            </div><!-- col-gwd-2-39 -->
            <div class="col-gwd-2-61">
              <div class="title gwd_p_big">PHILIPS飞利浦257E7QSA 25英寸 16:9 液晶显示器 看电视超爽超自在 您值得拥有 另外我们还在打折中 您还在等什么 快到碗里来</div>
              <div class="price gwd_p_big red">打折大促销，八折起，八折起</div>
              <img src="" class="mall-icon" alt="logo">
              <div class="mall-name gwd_p">京东商城</div>
              <div class="mall-time gwd_p">12月23日</div>
            </div><!-- col-gwd-2-61 -->
          </div><!-- row -->
        </a>
        <hr>
      </div><!-- container -->
    </div><!-- gwd_index -->
    <!-- === End Gwd_index === -->

    <!-- === Gwd_gotop === -->
    <div class="gwd_gotop">
      <img src="image/gotop.png" alt="回顶部图标" class="gwd-img-block-center">
    </div><!-- gwd_gotop -->
    <!-- === End Gwd_gotop === -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/index.js" charset="utf-8"></script>
    <script type="text/javascript" src="js/goTop.js" charset="utf-8"></script>
  </body>
</html>