<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="renderer" content="webkit">
    <title>意见反馈</title>

    <link href="css/gwd_yungui_all.css" rel="stylesheet" charset="utf-8">

  </head>
  <body>
    <!-- === Gwd_top === -->
    <div id="gwd_top" class="gwd_p_big">
      <span id="goback">&lt;</span>
      <span id="gtmiddle">意见反馈</span>
    </div><!-- gwd_top -->
    <div id="gwd_top_shadow"></div>
    <!-- === End Gwd_top === -->

    <!-- === Gwd_suggestion === -->
    <div id="gwd_suggestion">
      <textarea placeholder="有什么意见或者建议快告诉我们吧，会有积分奖励哦~~"></textarea>
      <div class="hint"></div>
      <a href="javascript:submit();">提交</a>
    </div><!-- gwd_suggestion -->
    <!-- === End Gwd_suggestion === -->

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript"src="js/suggestion.js" charset="utf-8"></script>
  </body>
</html>